# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/.bin/acorn
node_modules/.bin/acorn
node_modules/.bin/ansi-html
node_modules/.bin/atob
node_modules/.bin/autoprefixer
node_modules/.bin/browserslist
node_modules/.bin/css-blank-pseudo
node_modules/.bin/css-has-pseudo
node_modules/.bin/css-prefers-color-scheme
node_modules/.bin/cssesc
node_modules/.bin/detect
