// Body
body {
  background-color: $bgDark;
  color: $textLight;
  font-family: $textFont;
}

.about-page {
  padding: 6rem 2rem 0rem 2rem;
  min-height: 70vh;
  text-align: center;
  font-size: 12px;
  // fixed the fav page message
  grid-column: span 5;
  
  @media (min-width: 768px) {
    margin: 0 auto;
    font-size: 14px;
    padding-top: 10rem;
    grid-column: span 5;
  }
  @media (min-width: 1024px) {
    margin: 0 auto;
    font-size: 14px;
    padding: 10rem 4rem 0 4rem;
  }
}

.about-logo {
  width: 70px;
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 300px;
  left: 30px;
  @media (min-width: 768px) {
    left: 50px;
  }
  @media (min-width: 1024px) {
    left: 80px;
  }
}
