// Body
body {
  background-color: $bgDark;
  color: $textLight;
  font-family: $textFont;
}

.about-page {
  padding: 6rem 2rem 0rem 2rem;
  min-height: 70vh;
  text-align: center;
  font-size: 12px;
  @media (min-width: 768px) {
    margin: 0 auto;
    font-size: 14px;
    padding-top: 10rem;
  }
}
