// Hamburger Menu here!!

.btn-main-nav {
  @include flatten;
  border: none;
  background: none;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }

  .line {
    width: 3.125rem;
    height: 0.3125rem;
    background-color: white;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;

    .show &:nth-child(2) {
      width: 0;
    }

    .show &:nth-child(1),
    .btn-main-nav.show .line:nth-child(3) {
      transition-delay: 0.3s;
    }

    .show &:nth-child(1) {
      transform: translateY(13px);
    }

    .show &:nth-child(3) {
      transform: translateY(-13px) rotate(90deg);
    }
  }

  .show & {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }

  @include mq($tablet) {
    display: none;
  }
}
