.circle{
  // left: 20.5rem;
  height:50px;
  width:50px;
  background-color: transparent;
  border: 1px solid white;
  position: relative;
  border-radius: 50%;
}

.circle:hover .heart, .circle:hover .heart:before, .circle:hover .heart:after{
  background-color: $textDark;
}

.circle:active{
  transform: translateY(5px);
  background-color: $textDark;
}

.heart{
  height:18px;
  width: 18px;
  background-color: white;
  transform: rotate(45deg);
  position: relative;
  top: 40%;
  left:33%;
}

.heart:before{
  height:100%;
  width: 100%;
  background-color: white;
  transform: translateX(-50%);
  position: absolute;
  top:0px;
  bottom: 0px;
  border-radius: 50%;
  content: '';
}

.heart:after{
  height:100%;
  width: 100%;
  background-color: white;
  transform: translateY(-50%);
  position: absolute;
  top:0px;
  bottom: 0px;
  border-radius: 50%;
  content: '';
}


//unheart

.unheart{
  height:18px;
  width: 18px;
  background-color: $textDark;
  transform: rotate(45deg);
  position: relative;
  top: 40%;
  left:33%;
}

.unheart:before{
  height:100%;
  width: 100%;
  background-color: $textDark;
  transform: translateX(-50%);
  position: absolute;
  top:0px;
  bottom: 0px;
  border-radius: 50%;
  content: '';
}

.unheart:after{
  height:100%;
  width: 100%;
  background-color: $textDark;
  transform: translateY(-50%);
  position: absolute;
  top:0px;
  bottom: 0px;
  border-radius: 50%;
  content: '';
}

//FAV CARD


// #fav-circle{
//   right: 20.5rem;
//   height:50px;
//   width:50px;
//   background-color: transparent;
//   border: 1px solid white;
//   position: relative;
//   border-radius: 50%;
// }

// .fav-circle:hover .fav, .fav-circle:hover .fav:before, .fav-circle:hover .fav:after{
//   background-color: $textDark;
// }

// .fav-circle:active{
//   transform: translateY(5px);
//   background-color: $textDark;
// }



// .fav{
//   height:15px;
//   width: 15px;
//   background-color: white;
//   transform: rotate(45deg);
//   position: relative;
//   top: 40%;
//   left:33%;
// }

// .fav:before{
//   height:100%;
//   width: 100%;
//   background-color: white;
//   transform: translateX(-50%);
//   position: absolute;
//   top:0px;
//   bottom: 0px;
//   border-radius: 50%;
//   content: '';
// }

// .fav:after{
//   height:100%;
//   width: 100%;
//   background-color: white;
//   transform: translateY(-50%);
//   position: absolute;
//   top:0px;
//   bottom: 0px;
//   border-radius: 50%;
//   content: '';
// }


// //unheart

// .not-fav{
//   height:15px;
//   width: 15px;
//   background-color: $textDark;
//   transform: rotate(45deg);
//   position: relative;
//   top: 40%;
//   left:33%;
// }

// .not-fav:before{
//   height:100%;
//   width: 100%;
//   background-color: $textDark;
//   transform: translateX(-50%);
//   position: absolute;
//   top:0px;
//   bottom: 0px;
//   border-radius: 50%;
//   content: '';
// }

// .not-fav:after{
//   height:100%;
//   width: 100%;
//   background-color: $textDark;
//   transform: translateY(-50%);
//   position: absolute;
//   top:0px;
//   bottom: 0px;
//   border-radius: 50%;
//   content: '';
// }
