.fav-movie-poster {
    position: relative;
}

.fav-movie-info {
    position: absolute;
    padding: 2em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    opacity: 0;
    transition: opacity 0.25s;
}

.fav-movie-info:hover {
    opacity: 1;
}

.fav-movie-date {
    position: absolute;
    font-size: 12px;
    font-weight: $regularSize;
}


.fav-movie-rating {
    position: absolute;
    font-size: 1.5rem;
    padding: 10px 10px;
    right: 20px;
    width: 60px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

.fav-movie-info h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 20px;
    margin-top: 90px;
    font-weight: $boldSize;
}

.fav-movie-overview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 12px;
    font-weight: $regularSize;
}



.more-info-btn {
    background-color: $brandDark;
    border: none;
    padding: 14px 20px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
}

button.more-info-btn {
    color: white;
    font-size: 12px;
    font-weight: $regularSize;
    text-decoration: none;
}