// Header
header {
    color: white;
    font-family: $textFont;
    background-color: $brandDark;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 84px;
    h1 {
       color:white;
    }

    a {
        color: white;
        text-decoration: none;
    }
    .user {
        text-align: right;
    }

    p {
        margin-bottom: 8px;
    }
}