// Header
header {
  background-color: $brandDark;
  padding: 1em 1.5em 1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  .show {
    -webkit-box-shadow: 0px 17px 3px -5px #000000;
    box-shadow: 0px 17px 3px -5px #000000;
  }

  img {
    width: 10rem;
    display: block;
  }

  a {
    color: $textLight;
    text-decoration: none;
    font-size: 1rem;
    font-weight: $regularSize;

    &:hover {
      color: $textDark;
    }
  }
  .user {
    text-align: right;
  }
  @include mq($tablet-med) {
    header {
      img {
        padding-bottom: 0;
        margin: 0.9375rem 2.1875rem;
      }
    }
  }
}
