// Movie Card

.movie-poster {
  position: relative;

  img {
    display: block;
    object-fit: cover;
    width: auto;
    // height: 385px;
  }
}

.movie-info {
  position: absolute;
  padding: 2em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
  }
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  opacity: 0;
  transition: opacity 0.25s;
  
  &:hover {
    opacity: 1;
  }

  .date-rating-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .movie-date {
    // position: absolute;
    font-size: 12px;
    font-weight: $regularSize;
  }

  .movie-rating {
    // position: absolute;
    font-size: 1.5rem;
    padding: 0.625rem;
    // right: 1.25rem;
    width: 3.75rem;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
  }

  h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 22px;
    // margin-top: 5.625rem;
    font-weight: $boldSize;
  
    @include mq($firstBp) {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .movie-overview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 12px;
    font-weight: $regularSize;

    @include mq($tablet) {
    -webkit-line-clamp: 3;
    }
    @include mq($secondBp) {
      -webkit-line-clamp: 4;
      }
  }

}

.more-info {
  background-color: $brandDark;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.875rem 1.25rem;
  border-radius: 1em;
  display: block;
  margin: 20% auto 0;
  color:$textLight;
  text-decoration: none;
  font-size: 12px;
  &:after {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }
  &:focus,
  &:hover {
    background: darken($brandDark, 4%);
  }
  &:active {
    &:after {
      width: 18.75rem;
      height: 18.75rem;
    }
  }
}
