// Banner

.movie-banner {
  position: relative;

  @include mq($tablet){
    img {
      height: calc(100vh - 5rem);
      object-fit: cover;
      width: 100%;
    }
  }
}

.movie-info-banner {
  display: none;

  @include mq($tablet){
    position: absolute;
    padding: 2em;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    background-color: rgba(0, 0, 0, 0.7);

    /* Backdrop Filter workaround for unsupported browsers (eg. Firefox) https://stackoverflow.com/a/44366154/17486392 */

    /* if backdrop support: */
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    display: grid;
    grid-auto-rows: min-content;
    align-content: end;
    opacity: 0;
    transition: opacity 0.25s;

    &:hover {
      opacity: 1;
    }

    .date-rating-banner {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    h2 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 22px;
      font-weight: $boldSize;
    }
  }
}

@include mq($tablet) {
  .movie-date-banner {
    font-size: 14px;
    font-weight: $regularSize;
  }

  .movie-rating-banner {
    font-size: 1.5rem;
    padding: 0.625rem;
    width: 3.75rem;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
  }

  .movie-overview-banner {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-weight: $regularSize;
  }

  .more-info-btn {
    background-color: $brandDark;
    border: none;
    padding: 0.875rem 1.25rem;
    border-radius: 10px;
    display: block;
    margin-top: 1rem;
    color: $textLight;
    font-size: 12px;
    font-weight: $regularSize;
    text-decoration: none;
    &:hover {
      background: darken($brandDark, 4%);
    }
  }
}

@include mq($laptop) {
  .movie-info-banner {
    padding: 4em;
  }
  .movie-date-banner {
    font-size: 16px;
  }

  .movie-overview-banner {
    font-size: 16px;
  }
}

@include mq($large-laptop) {
  .movie-info-banner {
    padding: 5em;
  }
  .movie-date-banner {
    font-size: 20px;
  }

  .movie-info-banner h2 {
    font-size: 30px;
  }

  .movie-overview-banner {
    font-size: 19px;
  }
}

.more-info-btn-container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}