.movies-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  padding: 1.5em;
  

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;


    padding: 0 1.5em 3em 1.5em;
  }

@media (min-width: 576px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em; 
        padding: 0 3em 3em 3em;
     }

 @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color:white;
    gap: 1.5em; 
    padding: 0 3em 3em 3em;
 }
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    font-size: .8em;
    gap: 1.5em; 
    padding: 0 3em 3em 3em;
 }
 
 @media (min-width: 1200px) {
   //  padding: em(12);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: white;
    font-size: .8em;
    gap: 1.5em; 
    padding: 0 3em 3em 3em;
 }

}
