.movies-container {
    padding: em(12);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
    font-size: .8em;

    @include mq($tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: em(14);
    }

    @include mq($desktop){
        padding: em(20);
        grid-template-columns: 1fr 1fr 1fr;
        gap: em(18);
    }

}


.movie-card {
    padding: em(10);
    margin-bottom: em(16);


    img {
        width: 100%;
   
    }

    @include mq($tablet){
        margin-bottom: 0;
    }
}