// Sorting Menu

.nav-sort {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  padding: 0.7rem 0 0.7rem 0;

  a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-weight: $regularSize;

    &:hover {
      color: #408196;
    }
  }
}

// Main nav
.main-nav {
  // width: 100%;
  height: calc(10vh - 68px);
  position: relative;
  // left: 0;
  // top: 90px;
  // visibility: hidden;
  // background-color: red;
  // transition: visibility 0s 0.3s;

  width: 100%;
  background-color: $brandDark;
  // height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: height 0.5s ease, visibility 0s 0.5s;

  .show & {
    transition: height 0.5s ease, visibility 0s;
    visibility: visible;
    height: 159px;
    // transform: translateX(80%);s
  }

  ul {
    @include flatten($is-list: true);
  }
  a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 12px;
    @at-root .main-nav li:first-child a {
      border-top: 1px solid $brandDark; // this line is for the border for the li's
    }
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(white, 0.2);
    }
  }

  // @media (min-width: 600px) {
  //   height: auto;
  //   visibility: visible;
  //   transition: none;

  //   .show & {
  //     transition: none;
  //     height: auto;
  //   }

  //   ul {
  //     display: flex;
  //   }

  //   li {
  //     flex: 1;
  //   }

  //   a {
  //     padding: 0;
  //     text-align: center;
  //     border-top: none;
  //     @at-root .main-nav li:not(:first-child) a {
  //       border-top: none;
  //       border-left: 3px solid grey;
  //     }
  //   }
  // }
}

// Webpage size
@media (min-width: 600px) {
  .main-nav {
    visibility: visible;
    font-size: 20px;
    font-weight: 600;
    height: 20vh;

    ul {
      display: flex;
      justify-content: flex-end;
      height: 100px;
      margin-right: 20px;
    }
    .show {
      transition: none;
      height: auto;
    }
  }

  .nav-sort {
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    padding: 0.7rem 0 0.7rem 0;

    a {
      color: white;
      font-size: 1rem;
      font-weight: regularSize;
      text-decoration: none;
      list-style: none;
      display: block;

      &:hover {
        color: $textDark;
      }
    }

    @media (min-width: 820px) {
      a {
        display: flex;
        justify-content: right;
      }
    }
  }
}
