.search-bar {
  border: 1px solid #8196a4;
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #151c27;
  color: white;
  margin-top: 10px;
}

.search-bar:focus {
  outline: none;
}

.search {
  padding: 2px 40px 1px 40px;
}

::placeholder {
  color: #999999;
}
