// Single Movie

.movie-card-single {
  position: relative;
}

.movie-backdrop {
  height: 80vh;

  @include mq($desktop) {
    min-height: 41.25rem;
    height: calc(100vh - 5rem);
    position: relative;
  }

  .backdrop-img, .no-backdrop {
    min-width: 18rem;
    height: 86vh;
    object-fit: cover;
    object-position: center;
    opacity: 20%;

    @include mq($desktop) {
      width: 100%;
      min-height: 41.25rem;
      height: calc(100vh - 5rem);
    }
  }

  .poster-mobile {
    position: absolute;
    display: block;
    margin: 1.25rem auto;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
    object-fit: cover;
    object-position: center;

    @include mq($desktop) {
      display: none;
    }
  }

  .no-poster {
    position: absolute;
    display: block;
    margin: 1.25rem auto;
    top: 8.75rem;
    left: 0;
    right: 0;
    height: 49vh;
    object-fit: cover;
    object-position: center;

    @include mq($phone-large) {
      height: 60vh;
    }

    @include mq($desktop) {
      display: none;
    }
  }
}

.movie-single {
  margin: 1rem auto;
  width: 80%;

  @include mq($desktop) {
    position: absolute;
    inset: 10vh 0 0 0;
    background-color: rgba(17, 23, 30, 0.9);
    min-width: 37.5rem;
    max-width: 50rem;
    height: 31.25rem;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  @include mq($desktopLarge) {
    inset: 20vh 0 0 0;
  }

  .poster-desktop {
    display: none;

    @include mq($desktop) {
      display: block;
      min-height: 31.25rem;
      object-fit: cover;
    }
  }

  .movie-info-single {
    color: $textLight;
    margin: 5rem auto;

    @include mq($desktop) {
      padding: 0 3rem;

      p.desc {
        font-size: 0.9rem;
        // display: -webkit-box;
        // -webkit-line-clamp: 6;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
        height: 6.25rem;
        overflow-y: auto;
        padding-right: 0.5rem;
      }
      // Scroll Bar Styling

      ::-webkit-scrollbar {
        width: 0.1875rem;
      }

      ::-webkit-scrollbar-track {
        background: $brandDark;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: $hoverBlue;
        border-radius: 10px;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: $textLight;
      }
    }

    .release-runtime-vote {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 0.5rem;

      .vote {
        font-size: 1.5rem;
        border: 1px solid $textLight;
        border-radius: 10px;
        background-color: $bgDark;
        padding: 0.625rem;
        font-weight: $boldSize;
      }
    }

    .fav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
