.movie-card-single {
    position: relative;
}

.movie-backdrop {
    height: 80vh;
    
    @include mq(820px) {
        min-height: 660px;
        height: calc(100vh - 8rem);
        position: relative;
    }

    .backdrop-img {
        min-width: 18rem;
        height: 86vh;
        object-fit: cover;
        object-position: center;
        opacity: 20%;

        @include mq(820px) {
            width: 100%;
            min-height: 660px;
            height: calc(100vh - 8rem);
        }
    }

// fix how it looks on mobile: the poster takes up the whole width (at 320 * heights > 630)

    .poster-mobile {
        position: absolute;
        display: block;
        // top margin is a little off --> try using mixin
        margin: 1.25rem auto;
        top: 0;
        left: 0;
        right: 0;
        height: 80vh;
        object-fit: cover;
        object-position: center;

        @include mq(820px) {
            display: none;
        }
    }
}

.movie-single {
    margin: 1rem auto;
    width: 80%;

    @include mq(820px) {
        position: absolute;
        // top: 4rem;
        // left: 0;
        // right: 0;
        // bottom: 0;
        inset: 10vh 0 0 0;
        // background-color: rgba(4, 36, 64, 0.8);
        background-color: rgba(17, 23, 30, 0.9);
        // background-color: rgba(0, 0, 0, 0.7);
        min-width: 600px;
        max-width: 800px;
        height: 500px;
        display: grid;
        // grid-template-columns: 1.2fr 2fr;
        grid-template-columns: 40% 60%;
    }

    // fix how it looks on a bigger screen - try to center it more
    // @include mq(1000px) {
    //     inset: 16vh 0 0 0;
    // }
    
    .poster-desktop {
        display: none;

        @include mq(820px) {
            display: block;
            min-height: 500px;
            object-fit: cover;
        }
    }

    .movie-info-single {
        color: $textLight;
        margin: 3rem auto;

        @include mq(820px) {
            padding: 0 3rem;
            
            p {
                font-size: .9rem;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                overflow: hidden;
                }
    
        }
        
        .release-runtime-vote {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            
            .vote {
                font-size: 1.5rem;
                border: 1px solid $textLight;
                border-radius: 10px;
                background-color: $bgDark;
                // padding: 0.25rem 0.75rem;
                padding: 10px 10px;
                font-weight: $boldSize;
                
            }
        }
        
        .fav {
            display: flex;
            justify-content: right;
            align-items: right;
        }
        // button {
        //     display: block;
        //     margin: 2rem auto 0;
        //     border: 1px solid $textLight;
        //     border-radius: 10px;
        //     background-color: $brandDark;
        //     color: $textLight;
        //     padding: 1rem 2rem;
        //     font-size: 1rem;

        //     @include mq(820px) {
        //         margin: 2rem 0 0;
        //     }
        // }
    }
}



