// App Style Settings

// Colors
$brandDark: darkblue;
$textDark: #313131;
$textLight: white;

// Fonts
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Alatsi', sans-serif;
$bodyFont: 300;

// Layout
$section-padding: em(16) em(20);