// App Style Settings

// Colors
$brandDark: #042440;
$bgDark: #11171e;
$textLight: #ffffff;
$textDark: #408196;
$searchDark: #151c27;
$grey: #999999;
$hoverBlue: #4e7f94;

// Fonts
$textFont: "Montserrat", sans-serif;
$lightSize: 300;
$regularSize: 400;
$boldSize: 700;
$fontSmall: 12px;
$fontMedium: 14px;
$fontLarge: 16px;

// Layout
$section-padding: em(16) em(20);

//Breakpoints
$phone-large: 425px;
$tablet-small: 540px;
$firstBp: 576px;
$tablet: 768px;
$tablet-med: 720px;
$secondBp: 992px;
$desktop: 820px;
$desktopWide: 1000px;
$thirdBp: 1200px;
$laptop: 1024px;
$large-laptop: 1440px;
$desktopLarge: 1600px;
