// App Style Settings

// Colors
$brandDark: #042440;
$bgDark: #11171E;
$textLight: white;


// Fonts
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Alatsi', sans-serif;
$bodyFont: 300;

// Layout
$section-padding: em(16) em(20);